body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.footer {
  background-color: #303030;
margin-top: auto;  
}

.footer_content {
    padding: auto 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  font-family: "Montserrat-Medium";
  font-size: 13px;
  color: #fff;
}
